body {
  background: rgba(55, 55, 55, 1);
  background: url(https://thatkookooguy.github.io/https-assets/bg/abstract/bg.png);
  background-size: 200%;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  

  --card-background-color: rgba(150, 150, 150, 0.2);
  --get-color: hsl(204, 86%, 53%);
  --post-color: hsl(141, 53%, 53%);
  --dark-post-color: hsl(141, 71%, 35%);
  --lighter-put-color: hsl(48, 100%, 67%);
  --put-color: #fca130;
  --patch-color: #50e3c2;
  --delete-color: hsl(348, 100%, 61%);
  --dark-delete-color: hsl(348, 63%, 48%);
  --section-color: rgba(26, 153, 70, 0.5);
  --placeholder-color: rgba(255, 255, 255, 0.5);
  --main-text-color: whitesmoke;
  --second-text-color: #212121;
  --darker-shade: rgba(0, 0, 0, 0.2);
  --border-radius: 4px;
  --code-background: rgb(51, 51, 51);
  --bold-text-color: hotpink;
  --bold-text-color-alt: #c0f;
  --secondary-text-color: rgb(200, 200, 200);

  font-family: 'Comfortaa', cursive;
}

.swagger-ui .opblock {
  position: relative;
}

.swagger-ui .opblock-control-arrow {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 8%;
  height: 100%;
}

.swagger-ui .loading-container {
  min-height: 250px;
  padding: 0;
}

.swagger-ui .model-box-control, .swagger-ui .models-control, .swagger-ui .opblock-summary-control {
  grid-column-start: 1;
  grid-column-end: 3;
}

.swagger-ui .model-box-control > svg.arrow,
.swagger-ui .models-control > svg.arrow,
.swagger-ui .opblock-summary-control > svg.arrow {
  visibility: hidden;
}

.swagger-ui .loading-container .loading,
.swagger-ui .loading-container .loading::before,
.swagger-ui .loading-container .loading::after {
  background: #fff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.swagger-ui .loading-container .loading {
  color: #fff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.swagger-ui .loading-container .loading::before,
.swagger-ui .loading-container .loading::after {
  position: absolute;
  top: 0;
  content: '';
}

.swagger-ui .loading-container .loading::before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  border: none;
  border-radius: 0;
  margin: 0;
}

.swagger-ui .loading-container .loading::after {
  left: 1.5em;
  transform: none;
  color: #fff;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


/* .swagger-ui .loading-container .loading:after {
  color: var(--secondary-text-color);
  font-family: 'Comfortaa', cursive;
}
.swagger-ui .loading-container .loading:before {
  border: 2px solid rgba(200, 200, 200, .1);
  border-top-color: var(--secondary-text-color);
} */

.swagger-ui input[type=email].invalid,
.swagger-ui input[type=file].invalid,
.swagger-ui input[type=password].invalid,
.swagger-ui input[type=search].invalid,
.swagger-ui input[type=text].invalid,
.swagger-ui textarea.invalid {
  background: transparent;
}

.swagger-ui input[disabled],
.swagger-ui select[disabled],
.swagger-ui textarea[disabled] {
  opacity: 0.5;
}

.swagger-ui .info h1,
.swagger-ui .info h2,
.swagger-ui .info h3,
.swagger-ui .info h4,
.swagger-ui .info h5 {
  font-family: 'Comfortaa', cursive;
  color: var(--main-text-color);
}

.swagger-ui .opblock-body pre.microlight,
.swagger-ui .model,
.swagger-ui .markdown code,
.swagger-ui .renderedMarkdown code,
.swagger-ui .model-box {
  border-radius: var(--border-radius);
  font-family: Hack, monospace;
  background: var(--code-background);
  color: var(--main-text-color);
}

.swagger-ui .markdown code,
.swagger-ui .renderedMarkdown code {
  padding: 0.5em;
  font-size: 12px;
}

.col_header.response-col_description {
  font-size: 14px;
}

.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated,
.swagger-ui .tab li,
.swagger-ui .opblock-description-wrapper,
.swagger-ui .opblock-external-docs-wrapper,
.swagger-ui .opblock-title_normal {
  font-family: 'Comfortaa', cursive;
}

.swagger-ui .info li,
.swagger-ui .info p,
.swagger-ui .info table,
.swagger-ui .response-col_links {
  font-family: 'Comfortaa', cursive;
}

.swagger-ui .response-col_links:not(.col_header) {
  font-size: 0.8em;
}

.swagger-ui .responses-inner h4,
.swagger-ui .responses-inner h5 {
  color: rgb(200, 200, 200);
  font-family: 'Comfortaa', cursive;
}

.swagger-ui table .markdown > *:first-child,
.swagger-ui table .renderedMarkdown > *:first-child {
  margin-top: 0;
}

.swagger-ui .opblock-tag {
  display: inline-grid;
  grid-template-columns: auto auto 27px;
  grid-template-rows: auto auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.swagger-ui .opblock-tag > a.nostyle {
  grid-area: 1 / 1 / 2 / 3;
}

.swagger-ui .opblock-tag > small {
  line-height: 1.3em;
  padding-left: 0;
  grid-area: 2 / 1 / 3 / 3;
}

.swagger-ui .opblock-tag > small:empty {
  display: none;
}

.swagger-ui .opblock-tag > div {
  grid-area: 3 / 1 / 4 / 3;
  margin-top: 1em;
}

.swagger-ui .opblock-tag > div > small {
  padding-left: 0;
}

.swagger-ui .opblock-tag > div:empty {
  display: none;
}

.swagger-ui .opblock-tag > .expand-operation {
  grid-area: 1 / 3 / 2 / 4;
}

.kb-flex-spacer {
  flex-grow: 1;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--second-text-color);
  color: white;
  padding: 1em;
  font-family: 'Comfortaa', cursive;
}

footer .created-by {
  margin-inline-end: 45px;
}

footer .created-by,
footer .contact-email {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.swagger-ui .opblock-tag small {
  color: rgb(200, 200, 200);
  font-family: 'Comfortaa', cursive;
}

/* unvisited link */
a:link {
  color: var(--get-color);
}

/* visited link */
a:visited {
  color: var(--bold-text-color);
}

/* mouse over link */
a:hover {
  /*   color: hotpink; */
}

/* selected link */
a:active {
  color: blue;
}

.swagger-ui .info .title small.version-stamp {
  background-color: var(--post-color);
}

.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated {
  color: white;
}

.swagger-ui .opblock-description-wrapper,
.swagger-ui .opblock-external-docs-wrapper,
.swagger-ui .opblock-title_normal {
  color: rgb(200, 200, 200);
}

.swagger-ui .opblock.opblock-deprecated .opblock-summary-method {
  background: grey;
}

.swagger-ui .opblock.opblock-post .opblock-summary-method {
  background: var(--post-color);
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
  background: var(--get-color);
}

.swagger-ui .opblock.opblock-delete .opblock-summary-method {
  background: var(--delete-color);
}

.swagger-ui .opblock.opblock-patch .opblock-summary-method {
  background: var(--patch-color);
}

.swagger-ui .opblock.opblock-put .opblock-summary-method {
  background: var(--put-color);
}

.swagger-ui .opblock.opblock-get {
  background: rgba(97, 175, 254, 0.2);
}

.swagger-ui .opblock.opblock-patch {
  background: rgba(80, 227, 194, 0.2);
}

.swagger-ui .opblock.opblock-put {
  background: rgba(252, 161, 48, 0.2);
}

.swagger-ui .opblock.opblock-delete {
  background: rgba(249, 62, 62, 0.2);
}

.swagger-ui .opblock.opblock-post {
  background: rgba(73, 204, 144, 0.2);
}

.swagger-ui .tab li {
  color: rgb(175, 175, 175);
}

.swagger-ui .response-control-media-type__accept-message {
  color: var(--post-color);
}

.swagger-ui .response-control-media-type--accept-controller select {
  border-color: var(--post-color);
}

.swagger-ui .info li,
.swagger-ui .info p,
.swagger-ui .info table,
.swagger-ui .response-col_links {
  color: var(--secondary-text-color);
}

/* change swagger logo in topnav */
.swagger-ui .topbar .topbar-wrapper::before {
  content: url(//kibibit.io/kibibit-assets/SVG/long-white.svg);
  display: inline-block;
  height: 100%;
  width: 8em;
  transform: translateY(0.2em);
  margin-right: 1.3em;
}

.swagger-ui .topbar .topbar-wrapper a::before {
  content: 'open {API} Documentation';
  display: inline-block;
  height: 1.43em;
  line-height: 1.43em;
  transform: translate3d(0, 3px, 0);
  font-family: 'Bungee Hairline', cursive;
}

.swagger-ui .topbar a > img {
  display: none;
}

/* END */

/* Allow topnav text to be bigger than default */
.swagger-ui .topbar a {
  max-width: none;
}

/* END */

.swagger-ui .topbar a span::before {
  content: 'kibibit\'s';
  display: inline;
  padding: 0 10px 0 0;
  font-family: 'Righteous', cursive;
  letter-spacing: 0.05em;
}

.swagger-ui .topbar a span::after {
  content: 'API documentation';
  display: inline;
  padding: 0 10px;
  font-family: 'Comfortaa', cursive;
}

.swagger-ui .topbar {
  /* ffdd57 */
  background-color: var(--second-text-color);
  overflow: hidden;
}

.swagger-ui .info .title {
  font-family: 'Comfortaa', cursive;
  color: var(--main-text-color);
}

.swagger-ui,
.swagger-ui .info .base-url,
.swagger-ui .info a,
.swagger-ui .opblock-tag,
.swagger-ui .download-contents {
  font-family: 'Comfortaa', cursive;
  color: var(--main-text-color);
}

.swagger-ui .download-contents {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swagger-ui .opblock .opblock-summary {
  display: grid;
  grid-template-columns: 80px 1fr 27px;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.swagger-ui .opblock .opblock-summary-path {
  color: white;
  font-family: 'Comfortaa', cursive;
  max-width: calc(100% - 1em);
  grid-area: 1 / 2 / 2 / 3;
}

.swagger-ui .opblock .opblock-summary-description,
.swagger-ui .opblock-description-wrapper,
.swagger-ui .response-col_status,
.swagger-ui table thead tr td,
.swagger-ui table thead tr th,
.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock-external-docs-wrapper p,
.swagger-ui .opblock-title_normal p {
  color: var(--main-text-color);
  font-family: 'Comfortaa', cursive;
}

.swagger-ui .opblock .opblock-summary-description {
  color: rgb(200, 200, 200);

  /*   grid-area: 2 / 1 / 3 / 4; */
  grid-area: 2 / 1 / 3 / 3;
  padding: 1em 1em 0.5em 0.5em;
}

.swagger-ui .opblock .opblock-summary-description:empty {
  display: none;
}

.swagger-ui .btn {
  margin-left: 0.5em;
}

.swagger-ui .btn.execute {
  background-color: var(--post-color);
  border-color: var(--post-color);
  border-radius: 0;
}

.swagger-ui .btn.execute:hover {
  background-color: var(--main-text-color);
  border-color: var(--main-text-color);
  border-radius: 0;
  color: var(--post-color);
}

.swagger-ui .opblock.opblock-post .btn.execute {
  background-color: var(--dark-post-color);
  border-color: var(--dark-post-color);
  color: var(--main-text-color);
  border-radius: 0;
}

.swagger-ui .opblock.opblock-post .btn.execute:hover {
  background-color: var(--main-text-color);
  border-color: var(--main-text-color);
  border-radius: 0;
  color: var(--dark-post-color);
}

.swagger-ui .info a {
  color: var(--get-color);
}

.swagger-ui section.models h4 svg {
  display: none;
}

.swagger-ui section.models h4::after {
  width: 35px;
  height: 35px;
  content: '';
  background: url(//kibibit.io/kibibit-assets/swagger/original_caret_white.svg);
  background-size: 100%;
}

.swagger-ui section.models.is-open h4::after {
  transform: rotate(90deg);
}

.swagger-ui .model-toggle::after {
  background: url('http://kibibit.io/kibibit-assets/swagger/original_caret_white.svg') 50% no-repeat;
}

.swagger-ui .opblock .opblock-summary::after {
  pointer-events: none;
  width: 27px;
  height: 27px;
  transform: translate3d(-18px, 0, 0) rotate(-90deg);
  transform: translate3d(-16px, 0, 0);
  content: url(//kibibit.io/kibibit-assets/swagger/original_caret_white.svg);

  /*   grid-area: 1 / 3 / 2 / 4; */
  grid-area: 1 / 3 / 3 / 4;
}

.swagger-ui .opblock.is-open .opblock-summary::after {
  transform: translate3d(-20px, 0, 0) rotate(90deg);
}

.swagger-ui .opblock.is-open .opblock-summary::after {
  content: url(//kibibit.io/kibibit-assets/swagger/original_caret_white.svg);
}

.swagger-ui .opblock {
  border: none;
}

.swagger-ui .opblock .opblock-section-header {
  background: rgba(0, 0, 0, 0.3);
  color: var(--main-text-color);
}

.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui .opblock .opblock-section-header label {
  color: var(--main-text-color);
  font-family: 'Comfortaa', cursive;
}

.swagger-ui .opblock,
.swagger-ui section.models {
  background: var(--card-background-color);
  border-radius: var(--border-radius);
  border-color: var(--card-background-color);
}

.swagger-ui .model-example .prop-type {
  font-family: 'Comfortaa', cursive;
  color: greenyellow;
}

.swagger-ui section.models h4 {
  color: var(--main-text-color);
  font-family: 'Comfortaa', cursive;
}

.swagger-ui section.models h4 svg {
  transform: translateX(-6px);
}

.swagger-ui textarea {
  background: var(--code-background);
  color: white;
}

.swagger-ui section.models .model-container {
  background: var(--code-background);
}

.swagger-ui section.models .model-container:hover {
  background: var(--code-background);
}

.swagger-ui .opblock .opblock-summary-method {
  grid-area: 1 / 1 / 2 / 2;
  font-family: 'Comfortaa', cursive;
  font-size: 0.8em;
}

.swagger-ui .parameter__extension,
.swagger-ui .parameter__in {
  color: lightgreen;
}

.swagger-ui .parameter__type {
  color: lightblue;
}

.swagger-ui .parameter__name {
  display: flex;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  color: white;
}

.swagger-ui .parameter__name.required > span {
  display: none;
}

.swagger-ui .model-title,
.swagger-ui .model.model-title {
  color: var(--bold-text-color);
  font-family: 'Comfortaa', cursive;
}

.swagger-ui .model-box .model td > span:not(.model) {
  color: transparent !important;
}

.swagger-ui .model-box .model td > span:not(.model)::after {
  content: 'required';
  font-size: 0.9em;
}

.swagger-ui .model {
  font-size: 17px;
  color: lightsteelblue;
}

.swagger-ui .prop-type {
  color: var(--bold-text-color);
}

.swagger-ui .model .prop-type {
  font-family: 'Comfortaa', cursive;

  /*   color: greenyellow; */
  font-size: 13px;
}

/* .swagger-ui table tbody tr td {
    font-size: 17px;
  } */

/* .swagger-ui table tbody tr td {
    font-size: 0.8em;
  } */

.swagger-ui .parameter__name.required::after,
.swagger-ui .model-box .model td > span:not(.model)::after {
  font-family: 'Comfortaa', cursive;
  align-items: center;

  /*   background-color: var(--main-text-color); */

  /*   border-radius: 0.3em; */
  color: var(--delete-color);
  display: inline-flex;
  height: 2em;
  justify-content: center;
  line-height: 1.5;

  /*   padding-left: .75em; */

  /*   padding-right: .75em; */
  white-space: nowrap;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 0.7em;
  text-transform: capitalize;

  /*   top: 0; */

  /*   margin: 0 0.6em; */
}

.swagger-ui input[type=email],
.swagger-ui input[type=password],
.swagger-ui input[type=search],
.swagger-ui input[type=text],
.swagger-ui input[type=file] {
  font-family: 'Comfortaa', cursive;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--main-text-color);
  border-radius: 0;
  color: var(--main-text-color);
  padding: 8px 0;
  transition: all 250ms;
  padding: 0.5em;
}

input [disabled],
textarea [disabled],
select [disabled] {
  /*   opacity: 0.85; */
  color: var(--placeholder-color);
  border-bottom: 1px solid var(--placeholder-color);
  cursor: not-allowed;
}

.swagger-ui input[type=email]:focus,
.swagger-ui input[type=password]:focus,
.swagger-ui input[type=search]:focus,
.swagger-ui input[type=text]:focus {
  border-bottom: 2px solid;
  color: var(--main-text-color);
  outline: none;
  border-left: 6px solid;
}

.swagger-ui .opblock.opblock-get input:focus { border-color: var(--get-color); }
.swagger-ui .opblock.opblock-post input:focus { border-color: var(--post-color); }
.swagger-ui .opblock.opblock-put input:focus { border-color: var(--put-color); }
.swagger-ui .opblock.opblock-patch input:focus { border-color: var(--patch-color); }
.swagger-ui .opblock.opblock-delete input:focus { border-color: var(--delete-color); }

.swagger-ui input[type=email]::placeholder,
.swagger-ui input[type=password]::placeholder,
.swagger-ui input[type=search]::placeholder,
.swagger-ui input[type=text]::placeholder {
  color: var(--placeholder-color);
}

.swagger-ui select {
  font-family: 'Comfortaa', cursive;
  padding: 5px 40px 5px 0;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid var(--main-text-color);
  background-color: transparent;
  background-image: url(//kibibit.io/kibibit-assets/swagger/original_caret_white.svg);
  background-size: 1em;
  box-shadow: none;
  color: var(--main-text-color);
}

.swagger-ui .btn {
  font-family: 'Comfortaa', cursive;
  border-color: var(--main-text-color);
  border-radius: 0;
  color: var(--main-text-color);
  transition: all 250ms;
}

.swagger-ui .btn.cancel {
  font-family: 'Comfortaa', cursive;
  border-color: var(--delete-color);
  color: var(--main-text-color);
  background-color: var(--delete-color);
}

.swagger-ui .btn.cancel:hover {
  color: var(--main-text-color);
  background-color: var(--dark-delete-color);
  border-color: var(--dark-delete-color);
}

.swagger-ui .btn:hover {
  background-color: var(--main-text-color);
  color: var(--second-text-color);
}

.swagger-ui .scheme-container {
  background: var(--section-color);
}

.swagger-ui .btn.authorize {
  /* background-color: var(--put-color); */
  border-color: var(--put-color);
  color: var(--put-color);
}

.swagger-ui .btn.authorize svg {
  fill: var(--put-color);
  transition: all 250ms;
}

.swagger-ui .btn.authorize:hover {
  background-color: var(--put-color);
  border-color: var(--put-color);
  color: var(--main-text-color);
}

.swagger-ui .btn.authorize:hover svg {
  fill: var(--main-text-color);
}

.swagger-ui table tbody tr td {
  font-size: 0.8em;
}

code {
  padding: 0 0.2em;
  background: transparent;
  color: var(--main-text-color);
  border-radius: 0.2em;
}

.swagger-ui .expand-methods svg,
.swagger-ui .expand-operation svg {
  fill: var(--main-text-color);
}

@media
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  .swagger-ui table,
  .swagger-ui thead,
  .swagger-ui tbody,
  .swagger-ui th,
  .swagger-ui td,
  .swagger-ui tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .swagger-ui thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .swagger-ui tr {
    padding: 0 1em 1em;
    background: rgba(0, 0, 0, 0.2);
    margin: 0.5em 0;
    border-radius: var(--border-radius);
  }

  /*   .swagger-ui tr:nth-of-type(even) {
    background: rgba(0, 0, 0, 0.2);
  } */

  .swagger-ui table tbody tr td,
  .swagger-ui table tbody tr td:first-of-type,
  .swagger-ui td.response-col_links {
    padding-left: 0.9em;
  }

  .swagger-ui td::before {
    display: block;
    padding: 0.5em 0;
    white-space: nowrap;
    font-weight: bold;
    border-left: 0.3em solid hotpink;
    padding-left: 0.5em;
    color: hotpink;
    margin-left: -0.9em;
    margin-bottom: 1em;
  }

  .swagger-ui .opblock.opblock-get td::before { border-color: transparent; color: var(--get-color); }
  .swagger-ui .opblock.opblock-post td::before { border-color: transparent; color: var(--post-color); }
  .swagger-ui .opblock.opblock-put td::before { border-color: transparent; color: var(--put-color); }
  .swagger-ui .opblock.opblock-patch td::before { border-color: transparent; color: var(--patch-color); }
  .swagger-ui .opblock.opblock-delete td::before { border-color: transparent; color: var(--delete-color); }

  /* Label the data */
  .swagger-ui td.response-col_status::before { content: "Code"; }
  .swagger-ui td.response-col_description::before { content: "Description"; }
  .swagger-ui td.response-col_links::before { content: "Links"; }

  .swagger-ui td.parameters-col_name::before { content: "Name"; }
  .swagger-ui td.parameters-col_description::before { content: "Description"; }

  .swagger-ui table.model { display: table; }

  /* .swagger-ui table.model thead { display:  } */
  .swagger-ui table.model tbody { display: table-row-group; }

  /* .swagger-ui table.model th { display: table-} */
  .swagger-ui table.model td { display: table-cell; }

  .swagger-ui table.model tr {
    display: table-row;
    background: transparent;
  }
}
